body {
  font-family: "Segoe UI";
  padding: 50px;
}

.calculator  {
  border: solid 1px lightpink;
  border-radius: 5px;
  padding: 30px;
  width: 10em;
  height:15em;
  background-color:rgba(255, 182, 193, 0.199);
}

h1, label {
  color:rgba(0, 0, 0, 0.7);
  }

label, input, output {
  display: block;
  margin: .5em 0;
  color:rgba(0, 0, 0, 0.7;
}